@page
@model PrivacyModel
@{
    ViewData["Title"] = "Quem Somos...";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b><i>Somos sua fonte de cursos de alta performance, mentorias personalizadas e seminários que desafiam as crenças convencionais.<br />Prepare-se para a jornada rumo à excelência e aos resultados excepcionais. Aqui, não admitimos nada menos do que o máximo de você!"</i></b>
</p>
<div class="row justify-content-md-center">
    <div class="col-8 p-5">
        <h3>Alta Performance e Desempenho Pessoal</h3>
        <p>Não é suficiente conhecer suas fraquezas e pontos cegos, você deve superá-los. Você deve olhar de frente para suas limitações e enxergá-las como obstáculos temporários, não como barreiras intransponíveis. Não é fácil, não é cômodo, mas é o preço que pagamos pelo sucesso extraordinário.</p>
        <p>
            <img class="img-fluid float-end p-3"
                 style="max-width: 40%" src="~/Imagens/ajConsulting.png" />

        </p>
        
        <h5>Autoconhecimento</h5> <p>Entender a si mesmo é o primeiro passo. Conhecer nossos pontos fortes e áreas de melhoria nos permite direcionar nossos esforços de forma mais estratégica.</p>
        <h5>Estabelecimento de Metas</h5> <p>Definir metas claras e desafiadoras é crucial. Metas bem definidas nos dão um propósito claro e nos motivam a seguir em frente.</p>
        <h5>Disciplina</h5> <p>A base da alta performance. Isso envolve a criação de rotinas, o gerenciamento do tempo e o compromisso com a melhoria contínua.</p>
        <h5>Equilíbrio</h5> <p>A alta performance não significa sacrificar completamente a qualidade de vida. Manter um equilíbrio saudável entre trabalho, família e lazer é crucial.</p>

    </div>
</div>